body
{
	font-family:$font-lt;
	font-size: 16px;
	margin: 0;
	color: $base-font-color;
	line-height: 22px;
	min-width: 320px;
}

*
{
	box-sizing:border-box;

	&:target
	{
		outline: 0;
	}
}

@each $h in h1, h2, h3, h4, h5, h6 {
	#{$h},
	.#{$h} { 
		margin: 0;
		font-family: $font-lt;
		font-weight: 400;
		line-height: 1;
	}

	p + #{$h} {
		margin-top: 37px;
	}
}

h1,
.h1
{
	font-family: $font-rg;
	// line-height: 77px;

	.sub-head
	{
		display: block;
		font-family: $font-lt;
		font-size: 32px;
		color: $blue;
	}
}

h2,
.h2
{
	margin-bottom: 44px;
	font-size: 64px;	
	font-family: $font-lt;

	.sub-head
	{
		color: $grey;
	}
}

h3,
.h3 {
	font-size: 32px;
	margin-bottom: 30px;
}

a:link,
a:visited
{
	color: $base-font-color;
	text-decoration: none;
}
a:hover,
a:focus
{
	color: $blue;
	text-decoration: none;
	outline: 0;
}

p {
	margin-bottom: 20px;
}

hr
{
	position: relative;
	margin: 23px 0;

	&.or-rule
	{
		&:before
		{
			content: 'or';
			position: absolute;
			left: 50%;
			top: -15px;	
			margin-left: -13px;	
			background-color: #fff;
			padding: 5px 10px;
			color: $grey;
		}
	}
}

@media only screen and (max-width: ($breakpointDesktop - 1) ) {
	
	h1 {

		margin-bottom: 20px;
		display: block;

		.sub-head
		{
			margin-top: -5px;		
		}
	}

	h2,
	.h2
	{
		font-size: 42px;
	}

	h3,
	.h3
	{
		font-size: 24px;
	}
}
