.brands
{
	overflow: hidden;

	img
	{
		max-width: 100%;
		max-height: 36px;
	}

	h2
	{
		margin-bottom: 10px;
	}

	&__list
	{		
		li {
			text-align: center;
		}
	}

	&--img-wrap
	{
		padding: 50px 0 40px;
	}
}

@media only screen and (max-width: $breakpointDesktop - 1 ) {
	.brands
	{
		&__list
		{
			li 
			{
				width: 50%!important;
			}
		}

		img
		{
			max-width: 120px;
			max-height: 33px;
		}
	}
}