.brands
{
	overflow: hidden;

	img
	{
		max-width: 100%;
		max-height: 40px;
	}

	h2
	{
		display: inline;
	}

	.grid
	{
		overflow: visible;
		clear: both;
	}

	&__list
	{
		margin-top: 1em; 

		li {
			margin-bottom: 40px;
			text-align: center;
		}
	}

	&--img-wrap
	{
		padding: 30px;
	}

	.sml-img
	{
		margin-top: -5px;
	}
}

@media only screen and (max-width: $breakpointDesktop) {
	.brands
	{
		&__list-row
		{
			li
			{
				margin-bottom: 20px;
			}
		}
	}
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.brands
	{
		&__list
		{
			// overflow: hidden;
		}
		&__list-row
		{
			display: block;

			.w-25 {
				width: 50%;
				float: left;
				text-align: center;

				img
				{
					width: auto;
				}
			}
		}

		&--img-wrap
		{
			padding: 0 20px;
		}
	}
}