input
{
	padding: 10px;
	background: #e1e1e1;
	border: 1px solid #898989;
	width: 100%;
	font-size: 18px;

	&:focus
	{
		background: #fff;
		outline: 0;
		border-color: $blue;
	}
	
	&.valid
	{
		border-color: #898989;
		background: #fff;
	}
}

button[type="submit"],
input[type="submit"]
{
	background: $blue;
	color: #fff;
	font-family: $font-rg;
	appearance: none;
	border: 0;
  	padding: 12px 30px;
  	font-size: 18px;

  	&:hover 
  	{
  		cursor: pointer;
  	}
}

.form__pad
{
	padding: 0 10%;
}

input[type="email"]
{
	&:valid
	{
		border-color: #898989;

		+ .valid 
		{
			display: block;
		}
	}

	+ .valid
	{
		display: none;
		background: url(img/sprites/valid.png);
		width: 30px;
		height: 30px;
		position: absolute;
		right: 5px;
		top: 7px;
	}
}

label
{
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
}

.form-row {
	margin-bottom: 30px;
	
	.field
	{		
		position: relative;
	}
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	input
	{
		width: 100%;
	}

	button[type="submit"],
	input[type="submit"]
	{
		width: 100%;
	}

	label
	{
		font-size: 16px;
	}

	.valid
	{
		background: url(img/sprites/valid@2x.png);
	}

	.form__pad
	{
		padding: 0;
	}
}