.site-header
{
	background-color: #eee;

	.header__main-content
	{
		padding-top: 8px;
		padding-bottom: 8px;
		position: relative;
	}

	h1 
	{
		font-size: 64px;

		.sub-head
		{
			margin-top: -5px;
		}

		a
		{
			&:hover,
			&:focus
			{
				text-decoration: none;
				color: inherit;
			}
		}
	}
	
	.main-nav 
	{
		position: absolute;
		right: 0;	
		bottom: 8px;

		a
		{
			font-size: 20px;
			margin-right: 30px;
		}

		li:last-child
		{
			a
			{
				margin-right: 0;
			}
		}
		.active
		{
			a 
			{
				color: $blue;
			}
		}
	}

	.content__section
	{

		min-height: 0;
		margin-bottom: 0;
	}

	.sub-menu
	{
		margin-bottom: 7px;
		
		a
		{
			font-size: 22px;
		}
		li
		{
			margin-right: 30px;
		}
		.active a 
		{
			color: $blue;
			border-bottom: 5px solid $blue;
			padding-bottom: 5px;
		}
	}

	.drop-menu
	{
		margin-top: 15px;
		padding-bottom: 10px;
		border-bottom: 5px solid $blue;
		display: none;

		a 
		{
			// font-family: "2E7FC6_1_0", "Arial Black", sans-serif;
		}

		li 
		{			
			+ li 
			{
				border-left: 1px solid $blue;				
				padding-left: 10px;
				margin-left: 5px;
			}
		}
	}
}

.site-header--extended
{
	.header__main-content
	{
		margin-bottom: 0;
	}

	.drop-menu
	{
		margin-bottom: 45px;
	}

	.second-nav
	{
		margin-top: 10px;
	}
}

@media only screen and (max-width: ($breakpointDesktop - 1) ) {
	.site-header 
	{
		.main-nav
		{
			position: relative;
			text-align: right;
			bottom: 0;

			a
			{
				font-size: 16px;
				margin-right: 0;
				margin-left: 30px;
			}
			li:first-child
			{
				margin-left: 0;
			}
		}

		h1
		{
			margin-bottom: 16px;
			font-size: 41px;

			.sub-head
			{
				font-size: 24px;
				margin-top: 0;
			}
		}
		.sub-menu
		{
			a 
			{
				font-size: 16px;
			}
		}

		.drop-menu
		{
			border-bottom: 0;
			margin-top: 0;

			li 
			{
				display: block;
				// margin-top: 20px;

				+ li 
				{
					padding: 0;
					margin-left: 0;
					border-left: 0;
				}

				a 
				{
					padding: 10px;
					display: block;

					&:after
					{
						content: " ";
						background: url(img/sprites/chevron-sml.png);
						width: 9px;
						height: 16px;
						display: inline-block;
						float: right;
					}

					&:hover
					{
						text-decoration: underline;

						&:after
						{
							background: url(img/sprites/chevron-sml--hvr.png);							
						}
					}
				}
			}
		}
	}

	.site-header--extended 
	{
		.drop-menu
		{
			margin-bottom: 20px;
		}
	}
}