.site-header
{
	background-color: #eee;
	position: fixed;
	width: 100%;
	z-index: 1001;

	.header__main-content
	{
		padding-top: 8px;
		padding-bottom: 8px;
		position: relative;
	}

	h1 
	{
		font-size: 64px;
		transition: font-size $animationTime/2 $animationStyle;

		.sub-head
		{
			
		}

		a
		{
			&:hover,
			&:focus
			{
				text-decoration: none;
				color: inherit;
			}
		}
	}
	
	.main-nav 
	{
		position: absolute;
		right: 0;	
		bottom: 7px;

		a
		{
			font-size: 20px;
			margin-right: 30px;
		}

		li:last-child
		{
			a
			{
				margin-right: 0;
			}
		}
		.active
		{
			a 
			{
				color: $blue;
			}
		}
	}

	.content__section
	{

		min-height: 0;
		margin-bottom: 0;
	}

	.sub-menu
	{
		margin-bottom: 6px;
		
		a
		{
			font-size: 22px;
		}
		li
		{
			margin-right: 30px;
		}
		.active a 
		{
			color: $blue;
			border-bottom: 5px solid $blue;
			padding-bottom: 5px;
		}
	}

	.drop-menu
	{
		margin-top: 15px;
		padding-bottom: 10px;
		border-bottom: 5px solid $blue;
		display: none;

		li 
		{			
			+ li 
			{
				border-left: 1px solid $blue;				
				padding-left: 10px;
				margin-left: 5px;
			}
		}

		.trunc
		{
			span {
				display: none;
				
			}
			&:after
			{
				content:'...';
				display: inline-block;
			}

		    &:hover,
		    &:focus
		    {
		    	span {
		    		display: inline;

		    	}
	    		&:after
				{
					content:'';			
				}
		    }
		}
	}

	&.sticky-header
	{
		h1
		{
			font-size: 32px;
			transition: font-size $animationTime/2 $animationStyle;
		}

		.sub-head
		{
			display: none;		
		}
	}
}

.site-header--extended
{
	.header__main-content
	{
		margin-bottom: 0;
	}

	.drop-menu
	{
		margin-bottom: 45px;
	}

	.second-nav
	{
		margin-top: 10px;
	}
}

.single-post .site:not(.log-in) .site-header
{
	.main-nav
	{
		.active a
		{
			border-bottom: 4px solid $blue;
			padding-bottom: 7px;
			transition: border-bottom 100ms $animationStyle $animationTime;				

			&:after
			{
				content: "";
				width: 16px;
				height: 10px;
				display: inline-block;
				background: url(img/sprites/arrow-menu.png);
				margin-left: 5px;
				transform: rotate(180deg);
				transition: transform $animationTime $animationStyle;
			}
		}

	}
	&.open .main-nav
	{
		.active a
		{
			border-bottom: 0;
			
			&:after
			{
				transform: rotate(0deg);
				transition: transform $animationTime $animationStyle;				
			}
		}
	}		
}

@media only screen and (max-width: ($breakpointDesktop - 1) ) {
	.site-header 
	{
		.main-nav
		{
			position: relative;
			text-align: right;
			bottom: 0;

			a
			{
				font-size: 16px;
				margin-right: 0;
				margin-left: 30px;
			}
			li:first-child
			{
				margin-left: 0;
			}
		}

		h1
		{
			margin-bottom: 16px;
			font-size: 41px;
			margin-top: 0;
			transition: margin $animationTime $animationStyle;	

			.sub-head
			{
				font-size: 24px;
				margin-top: 0;
			}
		}
		.sub-menu
		{
			a 
			{
				font-size: 16px;
			}
		}

		.drop-menu
		{
			border-bottom: 0;
			margin-top: 0;

			li 
			{
				display: block;

				+ li 
				{
					padding: 0;
					margin-left: 0;
					border-left: 0;
				}

				a 
				{
					padding: 10px;
					display: block;

					&:after
					{
						content: " ";
						background: url(img/sprites/chevron-sml.png);
						width: 9px;
						height: 16px;
						display: inline-block;
						float: right;
					}

					&:hover
					{
						text-decoration: underline;

						&:after
						{
							background: url(img/sprites/chevron-sml--hvr.png);							
						}
					}
				}
			}

			.trunc 		
			{
				span
				{
					display: inline-block;		
				}
				&:after
				{
					content: "";
				}

			}
		}

		&.sticky-header
		{
			h1
			{
				font-size: 41px;	
				margin-top: -84px;
				transition: margin $animationTime/2 $animationStyle;			
			}

			.sub-head
			{
				display: block;		
			}

			.header__main-content
			{
				padding-bottom: 0;
			}
		}
	}

	.site-header--extended 
	{
		.drop-menu
		{
			margin-bottom: 20px;
		}

		.second-nav
		{
			margin-top: 16px;
		}
	}

	.single-post .site-header
	{
		.main-nav
		{
			.active a
			{
				border-bottom: 0;

				&:after
				{
					display: none;
				}				
			}

		}		
	}
}