.arrow
{
	background: url(img/sprites/arrow-hvr.png) no-repeat;
	display: inline-block;
	width: 23px;
	height: 35px;

	&--left
	{
		transform:rotate(-90deg);
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (min-device-pixel-ratio: 2) {
	.introduction
	{
		background: #eee url(img/img/sprites/arrow-hvr@2x.png) bottom right no-repeat;
		background-size: 521px 562px;
	}
	
}
