.introduction
{
	padding-bottom: 5px;
	margin-bottom: 42px;
	min-width: $breakpointDesktop;
	padding-top: 144px;

	.content__section
	{
		margin-bottom: 0;
		position: relative;
	}

	.pic
	{
		position: absolute;
		bottom: -25px;
		right: -150px;
	}

	h2
	{
		margin-bottom: 0;
	}
}

@media only screen and (max-width: $breakpointDesktop) {
	.introduction
	{
		.pic
		{
			right: -150px;
  			width: 550px;	
		}

		.content__section
		{
			margin: 0;
		}
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (min-device-pixel-ratio: 2) {
	.introduction .pic
	{
		// background: #eee url(img/portrait@2x.png) bottom right no-repeat;
		// background-size: 633px 584px;
		// background-position: 600px 0;
	}
	
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.introduction
	{
		background: #eee;
		min-height: 0;
		min-width: 320px;
		padding-top: 140px;

		p
		{
			padding-right: 0!important;
		}

		.pic
		{
			display: none;
		}
	}
}