.introduction
{
	margin-bottom: 57px;
	min-width: $breakpointDesktop;
	padding-top: 42px;

	.content__section
	{
		position: relative;
		margin-bottom: 0;
		padding-bottom: 33px;
		min-height: 0;
	}

	.pic
	{
		position: absolute;
		bottom: -25px;
		right: -150px;	
	}

	h2
	{
		margin-bottom: 5px;
		line-height: 77px;
	}

	p:last-child
	{
		margin-bottom: 0;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (min-device-pixel-ratio: 2) {
	.introduction .pic
	{
		// background: #eee url(img/portrait@2x.png) bottom right no-repeat;
		// background-size: 633px 584px;
		// background-position: 600px 0;
	}
	
}

@media only screen and (max-width: ($breakpointDesktop - 1) ) {
	.introduction
	{
		background: #eee;
		min-height: 0;
		min-width: 320px;
		padding-top: 30px;
		margin-bottom: 47px;

		p
		{
			padding-right: 0!important;

			+ h2
			{
				margin-top: 30px;
			}
		}

		.pic
		{
			display: none;
		}

		h2 
		{
			line-height: 1.4;
		}

		.content__section
		{
			padding-bottom: 22px;
		}
	}
}