.main-section
{
	&:not(.main-section__header)
	{
		font-size: 22px;	
		text-align: center;
	}

	&--img
	{
		margin-bottom: 60px;
	}

	&--title
	{
		font-size: 2.000rem;
	}

	&__header
	{
		text-align: left;
		font-size: 18px;
		margin-bottom: 60px;
	}

	.media
	{
		margin-bottom: 60px;		
	}
	
	.off-page
	{

		&.media--left
		{
			margin-left: -33%;
		}
		&.media--right
		{
			margin-right: -33%;
		}
	}
}

@media only screen and (max-width: $breakpointDesktop) {
	.main-section
	{
		&:not(.main-section__header)
		{
			font-size: 20px;	
			text-align: center;
		}
		.off-page
		{

			&.media--left
			{
				margin-left: -50%;
			}
			&.media--right
			{
				margin-right: -50%;
			}
		}
	}
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.main-section
	{
		&:not(.main-section__header)
		{
			font-size: 16px;			
		}

		&--img
		{
			img {
				width: 100%;				
			}
		}

		&__header
		{
			margin-bottom: 20px;
		}
	}
}