.media
{
	overflow: hidden;
	text-align: left;

	&--img
	{
		float: left;
		margin-right: 20px;
	}

	&--right
	{
		text-align: right;

		.media--img
		{
			float: right;
			margin-left: 20px;
		}
	}

	&--center
	{
		text-align: center;
		
		.media--img {			
			float: none;
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.media
	{
		padding: 0 10px;
		font-size: 16px;

		&--img
		{
			width: 50%;
			padding-right: 10px;
			margin-right: 10px;
		}

		&--right
		{
			.media--img
			{
				margin-right: -40%;
			}
		}
		&--left
		{
			.media--img
			{
				margin-left: -40%;
			}
		}
	}

	.double-img
	{
		margin-bottom: 60px;

		img
		{
			max-width: 100%;
		}

		.col {
			width: 50%;
		}
		.pad
		{
			padding: 0 10px;
		}
	}
}