.next-nav
{
	overflow: hidden;

	> div 
	{
		width: 25%;
		float: left;
		text-align: center;
		font-size: 2.250rem;

		&.next-nav__navigation
		{
			width: 50%;	
			font-family: $font-ult;		
		}
	}

	&__navigation 
	{
		overflow: hidden;
		vertical-align: middle;
		
		> div {
			width: 60%;
			float: left;
			a 
			{
				color: $grey;				
			}

			&.next-nav__navigation--dir
			{
				width: 20%;
				color: #000;

				a,
				span 
				{
					  width: 50px;
					  height: 50px;
					  background-color: #ccc;
					  display: inline-block;
					  text-align: center;
				}
			}
		}
	}
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.next-nav
	{

		.w-20
		{
			width: 20%;
		}
		.w-60
		{
			width: 60%;
		}
		> div.next-nav__navigation
		{
			width: 100%;
		}

		div:first-child
		{
			padding: 0;
		}
	}
}