.projects
{
	overflow: hidden;
	
	li
	{
		margin-bottom: 30px;	
	}

	a
	{
		font-family: $font-rg;
		position: relative;

		&:after
		{
			content: '';
			background: url(img/sprites/chevron.png) no-repeat;
			display: inline-block;
			width: 11px;
			height: 20px;
			position: absolute;
			top:-2px;
			right: -20px;
		}

		&:hover,
		&:focus
		{
			text-decoration: underline;

			&:after
			{
				background: url(img/sprites/chevron-hvr.png);
			}
		}
	}
}
@media only screen and (max-width: $breakpointDesktop) {
	.projects
	{
		a{
			font-family: $font-lt;
		}
	}
}


@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.projects
	{

	}
}