.recommendations
{
	overflow: hidden;
	font-size: 16px;		
	min-height: 0;

	h3
	{
		font-family: $font-lt;	
		font-size: 16px;		
		margin-bottom: 0;
	}
		
	a:hover,
	a:focus
	{		
		font-family: $font-lt;
		text-decoration: underline;
	}
	
	blockquote
	{
		font-size: 16px;
		padding-top: 20px;
		font-family: $font-rg;	
		color: #000;	

		p:not(.recommendations__view)
		{
			min-height: 65px;
		}				
	}

	&__view
	{
		text-align: left;
		font-family: $font-lt;
		margin: 0;

		img
		{
			vertical-align: middle;	
			margin-bottom: 4px;
			margin-left: 5px;
		}
	}

	&--person
	{
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: ($breakpointDesktop - 1) ) {
	.recommendations
	{

		img {
			width: auto;
		}

		blockquote
		{
			clear: left;

			p 
			{
				min-height: 0;

				&:not(.recommendations__view)
				{
					min-height: 0;
				}
			}

		}

		h2
		{
			word-break: break-all;
			word-break: break-word;
			hyphens: auto;
		}

		h3
		{
			margin-bottom: 5px;
		}

		&__view
		{			
			a {
				text-decoration: underline; 
			}
		}

		&__item
		{
			margin-bottom: 60px;
			
			&:last-child
			{
				margin-bottom: 0;
					
				.recommendations--person {
					margin-bottom: 0;
				}
			}
		}
	}
}