.recommendations
{
	overflow: hidden;
		
	font-size: 20px;

	h3
	{
		font-family: $font-lt;	
		font-size: 20px;
	}

	a:hover,
	a:focus
	{		
		font-family: $font-lt;
		text-decoration: none;

		.recommendations__view span {
			text-decoration: underline;
		}
	}
	
	blockquote
	{
		font-size: 16px;
		padding-top: 20px;
		font-family: $font-rg;	
		color: #000;					
	}

	&__item
	{
		margin-bottom: 10px;
	}

	&--profile-pic
	{
		margin-bottom: 20px; 
	}


	&__view
	{
		text-align: right;
		font-family: $font-lt;

		img
		{
			vertical-align: middle;	
			margin-bottom: 4px;
			margin-left: 10px;
		}
	}

	&--view-all {
		text-align: right;
	}

	&--person
	{
		margin-bottom: 20px;
		display: block;
	}
}

@media only screen and (max-width: $breakpointTablet) {
	.recommendations
	{
		// margin-bottom: 0;
		font-size: 16px;
		
		img {
			width: auto;
		}

		blockquote
		{
			clear: left;
			padding-top: 10px;

			p 
			{
				margin-bottom: 10px;
			}
		}

		h3
		{
			font-size: 16px;
			font-family: $font-rg;
			margin-bottom: 5px;
		}

		&--profile-pic
		{
			overflow: hidden;
			margin-bottom: 0;
			img
			{
				max-width: 100px;
				float: left;
				margin-right: 15px;
				margin-bottom: 15px;
			}
		}

		&__view
		{
			text-align: left;

			a {
				text-decoration: underline; 
			}
		}

		&--view-all
		{
			display: none;
		}

		&__item:last-child
		{
			.recommendations--person {
				margin-bottom: 0;
			}
		}
	}
}