.skills-mod
{
	overflow: hidden; 
	margin-bottom: 60px;

	&--main-link
	{
		padding: 10px 15px 10px 30px;
		display: block;
		font-family: $font-rg;

		&:hover,
		&:focus 
		{
			.arrow
			{
				display: inline-block;
			}

			img
			{
				opacity: 1;				
			}
			color: $blue;
		}
	}

	&__skill
	{
		position: relative;
		transition: width 400ms ease;
	}

	&--title
	{		  
		z-index: 1;
		transform: rotate(-90deg);		 
		transform-origin: top left;
		position: absolute;		 
		left: 0;
		width: 300px;
		bottom: -7px;		 
	}

	&__img-hide
	{
		overflow: hidden;

		img
		{
			opacity: .50;
			transition: opacity $animationTime/2 $animationStyle;
		}
		
	}

	&--view-all
	{
		display: none;
		position: absolute;
		right: 0;
		bottom: 15px;
		padding: 10px 15px;
		padding-right: 10%;
		background: #fff;
		color: $blue;
	}

	.arrow
	{		
		transition: transform 400ms ease;
		transform-origin: 50% 50%;
		background: url(img/sprites/arrow-hvr.png) no-repeat;
		display: none;
	}

	&--arrow
	{
		position: absolute;
		right: 25px;
		top: 140px;
	}

	&--open
	{
		.skills-mod__img-hide
		{
			width: 0;
		}

		.skills-mod--main-link
		{
			&:hover,
			&:focus
			{
				.arrow 
				{
					display: none;
				}
			}
		}

		.skills-mod__skill
		{
			width: 9%;	
		}

		.skills-mod__skill--open
		{
			width: 55%;
			transition: width 400ms ease;

			.skills-mod__img-hide
			{
				width: 100%;

				img
				{
					opacity: 1;
					transition: opacity $animationTime $animationStyle;
				}
			}

			.skills-mod--main-link
			{
				padding-right: 0;

				&:hover,
				&:focus 
				{
					.arrow
					{
						display: inline-block;
					}
				}
			}

			.arrow
			{
				display: inline-block;
				transform:rotate(180deg);	
				transition: transform $animationTime $animationStyle;
			}

			.skills-mod--title
			{
				color: $blue;
			}

			.skills-mod--arrow
			{
				padding: {
					top: 140px;
					bottom: 140px;
					left: 15px;
				}
				right: 15px;				
				top: 0;
				transition: padding 10ms $animationStyle 400ms, top 10ms $animationStyle 400ms;
			}

			.skills-mod--view-all
			{
				display: block;
			}
		}

		.arrow 
		{
			display: none;
		}
	}
}
@media only screen and (max-width: $breakpointDesktop) {
	.skills-mod
	{
		&__skill
		{
			padding: 0 15px 0 0;
		}

		&__img-hide
		{
			// img 
			// {
				height: 250px;
				// width: 78px 
			// }
		}

		&--open
		{
			.skills-mod__skill--open
			{
				.skills-mod--arrow
				{		
					padding-top: 120px;
		  			padding-bottom: 120px;
		  			right: 25px;
				}				
			}
		}

		&--arrow
		{
			top: 120px;
			right: 35px;
		}


		&--view-all
		{
			bottom: 10px;
		}

		// &--open
		// {
		// 	.skills-mod__skill--open
		// 	{
		// 		.skills-mod__img-hide
		// 		{
		// 	// 		width: 100%;

		// 			img
		// 			{
		// 				height: 100%;
		// 			}
		// 		}
		// 	}
		// }
	}
}
@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.skills-mod
	{
		margin-bottom: 0;
		
		

		// &__skill
		// {
		// 	margin-bottom: 30px;

		// 	&:nth-child(odd)
		// 	{
		// 		.skills-mod__img-hide
		// 		{
		// 			padding-right: 20px;
		// 		}
		// 	}
		// 	.skills-mod__img-hide
		// 	{
		// 		position: absolute;
		// 		top: 0;
		// 		bottom: 0;
		// 		left: 0;
		// 		right: 0;

		// 		&:before 
		// 		{
		// 			content: '';
		// 			display: inline-block;
		// 			padding-top: 100%;
		// 		}
		// 	}
		// }

		// &--title
		// {
		// 	transform: none;
		// 	position: static;
		// 	display: inline;
		// }

		// &--open
		// {
		// 	.skills-mod__skill 
		// 	{
		// 		width: 100%;
		// 	}
		// 	.skills-mod__skill--open
		// 	{
		// 		width: auto;
				
		// 		.skills-mod--title
		// 		{
		// 			font-weight: inherit;
		// 			color: inherit;
		// 		}

		// 		.skills-mod--view-all {
		// 			display: none;
		// 		}

		// 		.arrow
		// 		{
		// 			display: none;
		// 		}
		// 	}
		// }
		// .arrow 
		// {
		// 	display: none;
		// }

		.col.w-16
		{
			width: 50%;
		}

		&--title
		{
			transform: none;
			bottom: 0;
			padding: 3px;
			background: rgba(255, 255, 255, .5);
			text-align: center;
			right: 0;
  			width: auto;
			// position: static;
			// display: inline;
		}

		&__skill 
		{
			padding: 0 0 0 10px;
			margin-bottom: 20px;
			
			&:nth-child(odd)
			{
				
				padding-left: 0;
				padding-right: 10px;
			}
		}

		&__img-hide
		{
			height: 170px;
		}

		&--main-link
		{
			padding: 0;
			position: relative;
			// margin-bottom: 20px;
			// display: inline;

			// &:after
			// {
			// 	content: '';
			// 	background: url(img/sprites/chevron.png) no-repeat;
			// 	display: inline-block;
			// 	width: 11px;
			// 	height: 20px;
			// 	position: absolute;
			// 	top:-2px;
			// 	right: -20px;
			// }

			&:hover,
			&:focus 
			{
				.arrow
				{
					display: none;
				}
			}
		}
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
		only screen and (min-device-pixel-ratio: 2) {

	.skills-mod
	{
		.arrow
		{
			background: url(img/sprites/arrow-hvr@2x.png) no-repeat;
		}
	}
}