.touchpoints
{
	overflow: hidden;

	img
	{
		max-width: 100%;
		max-height: 100%;
	}

	&__img-wrap
	{
		padding-left: 5px;	
		font-size: 20px;	
	}
}

@media only screen and (max-width: $breakpointDesktop) {
	.touchpoints
	{
		&__img-wrap
		{			
			font-size: 16px;	
			font-family: $font-lt;
		}
	}
}

@media only screen and (max-width: ($breakpointTablet - 1) ) {
	.touchpoints
	{
		&__img-wrap
		{
			padding-left: 0;
			display: inline;
			font-size: 16px;			

			img
			{
				display: none;
			}
		}

		a {	
			font-family: $font-rg;	
			position: relative;

			&:after
			{
				content: '';
				background: url(img/sprites/chevron.png) no-repeat;
				display: inline-block;
				width: 11px;
				height: 20px;
				position: absolute;
				top:-2px;
				right: -20px;
			}

			&:hover,
			&:focus
			{
				&:after
				{
					background: url(img/sprites/chevron-hvr.png);
				}
			}
		}
		li
		{
			margin-bottom: 20px;			
		}
	}
}